# Test with:
# git archive --format=tar HEAD | tar t

/.*                   export-ignore
/*-*                  export-ignore
/Makefile             export-ignore
/phpunit.xml.dist     export-ignore
/tests                export-ignore
/bin                  export-ignore
/docs/*.*             export-ignore
/tools                export-ignore
