# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Database Update

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '27 7 * * *'
  push:
    branches:
      - master
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    name: DB Update

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install system packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: dbview moreutils

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
          tools: composer:v2

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}-${{ matrix.composer-flags }}
          restore-keys: |
            composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('composer.*') }}-
            composer-${{ runner.os }}-${{ matrix.php-version }}-
            composer-${{ runner.os }}-
            composer-

      - name: Install dependencies
        run: |
          composer install --optimize-autoloader --no-interaction --no-progress

      - name: Update database
        env:
          VDOMAIN: ${{ secrets.PINDX_VDOMAIN }}
          VUSER: ${{ secrets.PINDX_USER }}
          VPASSWORD: ${{ secrets.PINDX_PASSWORD }}
        run: |
          chronic make cron-clean
          chronic make cron

      - name: Get date updated
        id: last-update-date
        run: echo "date=$(cat docs/_data/last-update-date)" >> $GITHUB_OUTPUT

      - name: Run tests
        run: |
          vendor/bin/phpunit

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: Automatic build for ${{ steps.last-update-date.outputs.date }}
          add: docs/json/
